<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd" bootstrap="./vendor/autoload.php" colors="true">
  <testsuites>
    <testsuite name="Register">
      <file>./tests/RegisterTest.php</file>
    </testsuite>
    <testsuite name="Login">
      <file>./tests/LoginTest.php</file>
    </testsuite>
    <testsuite name="EditUser">
      <file>./tests/EditUserTest.php</file>
    </testsuite>
    <testsuite name="AddQuestion">
      <file>./tests/AddQuestionTest.php</file>
    </testsuite>
    <testsuite name="UpdateSituation">
      <file>./tests/UpdateSituationTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>